{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>

{{ section.content | safe }}

{% if paginator %}
{% set pages = paginator.pages %}
{% else %}
{% set pages = section.pages %}
{% endif %}

<ul class="titleList">
{% for page in pages %}
  <li>
    <h3><a href="{{ page.permalink | safe }}">{{ page.date | date(timezone="Europe/Berlin", locale="de_DE", format="%d. %B %Y") }}: {{ page.title }}</a></h3>
    {% if page.summary %}
    <p>{{ page.summary | safe }}</p>
    <a href="{{ page.permalink }}#continue-reading">>> Weiterlesen <<</a>
    {% elif page.description %}
    <p>{{ page.description }}</p>
    {% else %}
    <br />
    {% endif %}
    {% if page.taxonomies.categories %}
    <p class="tagsData">
    Kategorien:
    {% for category in page.taxonomies.categories %}
    <a href="/categories/{{ category | slugify }}">#&#47;{{ category }}&#47;{% if not loop.last %};{% endif %}</a>
    {% endfor %}
    </p>
    {% endif %}
    {% if page.taxonomies.tags %}
    <p class="tagsData">
    Tags:
    {% for tag in page.taxonomies.tags %}
    <a href="/tags/{{ tag | slugify }}">#&#47;{{ tag }}&#47;{% if not loop.last %};{% endif %}</a>
    {% endfor %}
    </p>
    {% endif %}
  </li>
  <hr>
{% endfor %}
</ul>

{% if paginator %}
<div class="metaData">{% if paginator.previous %}<a href="{{ paginator.first }}">⥶</a> &nbsp <a href="{{ paginator.previous }}"><</a>{% endif %} &nbsp {{ paginator.current_index }} / {{ paginator.number_pagers }} &nbsp {% if paginator.next %}<a href="{{ paginator.next }}">></a> &nbsp <a href="{{ paginator.last }}">⥸</a>{% endif %}</div>
{% endif %}
{% endblock content %}