{% extends "base.html" %}

{% block content %}
{{ section.content | safe }}
<hr />
<h2>Das neueste Haiku</h2>
{% set haiku_section = get_section(path="haiku/_index.md") %}
{% set page = haiku_section.pages[0] %}
<p>{{ page.summary | safe }}</p>
{% set haikus_url = get_url(path="@/haiku/_index.md") %}
<p><a href="{{ haikus_url }}">>> Weitere Haiku <<</a></p>
<hr />
<h2>Aktuelle Blogbeiträge</h2>
<ul>
{% set blog_section = get_section(path="blog/_index.md") %}
{% for page in blog_section.pages %}
  {% if loop.index >= 5 %} {% break %} {% endif %}
  <li>
      <a href="{{ page.permalink | safe }}">{{ page.date | date(timezone="Europe/Berlin", locale="de_DE", format="%d. %B %Y") }}: {{ page.title }}</a>
  </li>
{% endfor %}
</ul>
{% set blog_url = get_url(path="@/blog/_index.md") %}
<p><a href="{{ blog_url }}">>> Weitere Blogbeiträge <<</a></p>

{% endblock content %}

