{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>

{{ section.content | safe }}


{% if section.extra.pages_toc %}
  {% set subsections = section.subsections %}
  {% if paginator %}
    {{ macros::toc_wo_subsections_paginator(section=section, paginator=paginator) }} 
  {% else %}
    {{ macros::toc_wo_subsections(section=section, pages=section.pages) }}
  {% endif %}
{% elif section.extra.pages_subsections_toc %}
  {{ macros::toc_w_subsections(section=section, pages=section.pages) }}
{% endif %}
{% endblock content %}